@import 'Variables';
@import 'Mixins';
@import 'Reset';

header {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: $primary-color;
    .logo {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: #ffffff;
        img {
            width: 60px;
        }
    }
    ul{
        position: absolute;
        background-color: $primary-color;
        color: $text-color;
        height: 0px;
        overflow: hidden;
        transition: .5s;
        width: 100%;
        left: 0;
        top: 69px;
        padding:0 10px;
        li {
            width: 100%;
            list-style-type: none;
            line-height: 24px;
            text-align: center;
            cursor: pointer;
        }
    }
    .actions i {
        font-size: 30px;
        cursor: pointer;
        color:#ffffff;
        transition: .5s cubic-bezier();
    }
    .actions i.close {
        display: none;
    }

    @media screen and (min-width: 600px) {
        .logo {
            width: 80px;
            height: 80px;
            img {
                width: 80px;
            }
        }
        ul {
            height: 24px;
            top: 38px;
            right: 0;
            text-align: right;
            background: none;
        }
        li {
            display: inline;
            margin-left: 20px;
        }
        .actions {
            display: none;
        }
    }
}


.main-title {
    background-color: $primary-color;
    font-family: $title-font;
    font-size: 1.6rem;
    text-align: center;
    color: $highlight-text-color;
    text-transform: uppercase;
    margin-top: -1px;
}