@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,300;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap');

//Colors
$primary-color : #ffa801;
$primary-color-darken : darken($primary-color, 20);
$secondary-color : #808e9b;
$text-color : #1e272e;
$highlight-text-color : #ffffff;
$swiper-theme-color: $primary-color;


//Typography
$title-font : 'Kdam Thmor Pro';
$normal-font : 'Ubuntu';
$highlight-font : 'Roboto';

//font-size
$title-size : 1.4rem;
$normal-size : 1rem;
$desktop-title-size : 2rem;
$desktop-normal-size : 1.1rem;