@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:ital,wght@0,300;1,300&family=Ubuntu:ital,wght@0,300;0,400;0,700;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kdam Thmor Pro";
  font-size: 1rem;
}

main {
  width: 95%;
  min-width: 300px;
  max-width: 1000px;
  margin: 80px auto;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #ffa801;
}
.main-nav .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #ffffff;
}
.main-nav .logo img {
  width: 60px;
}
.main-nav ul {
  position: absolute;
  background-color: #ffa801;
  color: #1e272e;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  left: 0;
  top: 69px;
  padding: 0 10px;
  z-index: 1;
}
.main-nav ul li {
  width: 100%;
  list-style-type: none;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.main-nav ul a {
  text-decoration: none;
  color: #ffffff;
}
.main-nav ul a:hover {
  color: white;
}
.main-nav .actions i {
  font-size: 30px;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s cubic-bezier();
}
.main-nav .actions i.close {
  display: none;
}
@media screen and (min-width: 600px) {
  .main-nav .logo {
    width: 80px;
    height: 80px;
  }
  .main-nav .logo img {
    width: 80px;
  }
  .main-nav ul {
    height: 24px;
    top: 38px;
    right: 0;
    text-align: right;
    background: none;
  }
  .main-nav li {
    display: inline;
    margin-left: 20px;
  }
  .main-nav .actions {
    display: none;
  }
}

.main-title {
  background-color: #ffa801;
  font-family: "Kdam Thmor Pro";
  font-size: 1.4rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: -1px;
}
@media screen and (min-width: 600px) {
  .main-title {
    font-size: 2rem;
  }
}

.lead-banner {
  height: 250px;
  overflow: hidden;
  position: relative;
  z-index: 0;
  background-color: #ffa801;
}
.lead-banner img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.lead-banner .content {
  color: #ffffff;
  position: absolute;
  top: 80px;
  right: 10px;
}
.lead-banner .content span {
  display: block;
  font-family: "Kdam Thmor Pro";
  text-align: right;
  font-size: 1.4rem;
}
.lead-banner .call-to-action {
  position: absolute;
  top: 200px;
  right: 10px;
  display: flex;
  gap: 30px;
}
.lead-banner .call-to-action a {
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffa801;
  width: 120px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #ffa801;
  cursor: pointer;
}
@media screen and (min-width: 600px) {
  .lead-banner {
    height: 400px;
  }
  .lead-banner .content {
    top: 150px;
  }
  .lead-banner .content span {
    font-size: 2rem;
  }
  .lead-banner .call-to-action {
    top: 300px;
  }
  .lead-banner .call-to-action a {
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
  }
}

.partTitle {
  font-size: 1.4rem;
  display: block;
  margin-top: 20px;
}

main section {
  margin: 40px 0;
}
main section span {
  font-size: 1rem;
}
@media screen and (min-width: 600px) {
  main section .partTitle {
    font-size: 2rem;
  }
  main section span {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 600px) {
  .services .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.service {
  padding: 10px;
}
.service .img-container {
  width: 120px;
  height: 120px;
  border: 1px solid #1e272e;
  border-radius: 50%;
  box-shadow: 2px 2px 10px #1e272e;
  margin: 5px auto;
}
.service .img-container i {
  font-size: 90px;
  margin: 15px;
}
.service .content span {
  display: block;
  text-align: center;
}
.service .content span.text {
  color: #9a6500;
  font-family: "Ubuntu";
}
@media screen and (min-width: 600px) {
  .service .img-container {
    width: 150px;
    height: 150px;
  }
  .service .img-container i {
    font-size: 120px;
  }
}

.menu {
  width: 90%;
  margin: 40px auto;
}
.menu .swiper img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.menu .swiper .swiper-pagination .swiper-pagination-bullet {
  color: #ffffff;
  background-color: #ffa801;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
.menu .swiper .swiper-button-prev, .menu .swiper .swiper-button-next {
  color: #ffa801;
  font-weight: 700;
}

.booking {
  display: flex;
  flex-direction: column-reverse;
  gap: 30px;
  margin: 40px 0;
}
.booking .img-container img {
  width: 100%;
}
.booking .form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.booking .form form * {
  font-family: "Roboto";
  font-size: 1rem;
}
.booking .form form .input-group label, .booking .form form .input-group input {
  display: block;
  width: 80%;
  min-width: 250px;
  margin: 0 auto;
  text-align: center;
}
.booking .form form .input-group input {
  padding: 5px 10px;
  outline: none;
}
.booking .form form .input-group input:focus {
  border: 2px solid #ffa801;
  border-radius: 5px 5px;
}
.booking .form form span.booking-results {
  width: 100%;
  text-align: center;
}
.booking .form form .booking-button {
  display: block;
  width: 250px;
  margin: 0 auto;
  text-align: center;
  padding: 5px 10px;
  background-color: #ffa801;
  font-family: "Kdam Thmor Pro";
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
@media screen and (min-width: 750px) {
  .booking {
    flex-direction: row;
    align-items: center;
  }
  .booking .img-container {
    flex-grow: 1;
  }
  .booking .form {
    flex-grow: 1;
    width: 60%;
  }
  .booking .form form {
    gap: none;
  }
}

/*# sourceMappingURL=Style.css.map */
